html {
  background: linear-gradient(295.88deg, #E5BAEC -3.27%, #FFE6FE -3.27%, rgba(222, 249, 255, 0.96) 90.69%);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond'
    color: black;
  font-size: 24px;

/*  margin: 0 auto;
  max-width: 1170px;
  width: 100%;*/
}

a {
  text-decoration: none;
  color: black;
}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto;
}

.menu__list .menu__item {
  display: block;
  padding: 0;
  margin: 0;
}

.navigate {
  display: flex;
  align-items: center;
}

.navigate__menu {
  margin-left: 30px;
}

.menu__list {
  display: flex;
}

.menu__item {
  font-family: 'Cormorant Garamond';
  font-weight: 500;
}

.menu__link {
  margin-right: 30px;
}



.header__navigate {
  margin-top: 46px;
}

.header__contact {
  margin-left: 200px;
}

.offer {
  align-items: center;
  margin-top: 150px;
  max-width: 600px;
}

.offer__title {
  font-weight: bold;
  font-size: 48px;
  font-family: Cormorant Garamond;
  text-align: center;
}

.offer__text {
  font-family: Cormorant Garamond;
  font-size: 19px;
  font-weight: 500;
  margin-top: 30px;
  line-height: 45px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.offer__button {
  color: #000;
  font-weight: 600;
  font-size: 36px;
  display: block;
  text-align: center;
  padding: 17px 0;
  background: linear-gradient(108.5deg, #D78192 19.92%, #E0C9BF 93.26%);
  border: 3px solid #D78192;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 3px solid rgba(0, 0, 0, 0.09);
  font-family: Cormorant Garamond;
  margin-top: 60px;
}

.offer__button-active:hover {
  background: #D78192;
}

.offer__image {
margin-left: 70px;
margin-top: 62px;
}

.offer__image img{
  max-width: 100%;
}

.offer_base{
display: flex;
}

.assortment {
  margin-top: 200px;
}

.assortment__title {
  text-align: center;
  font-size: 48px;
  font-family: Cormorant Garamond;
  align-items: center;
}

.assortment__base {
  margin-top: 31px;
  display: flex;
}

.cheesecake {
  margin-left: 230px;
}

.cupcakes {
  margin-left: 100px;
}

.cupcakes__image img{
  align-items: center;
  max-width: 100%;
}

.cheesecake__image img{
  max-width: 100%;
}

.button {
  border: 3px solid #D78192;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  line-height: 29px;
  margin-top: 39px;
  display: block;
  max-width: 166px;
  margin-left: 100px;
  font-family: Cormorant Garamond;
  align-items: center;
}

.button__text {
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  text-decoration-color: #000000;
}

.button a {
  text-decoration: none;
}

.description {
  margin-top: 34px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Cormorant Garamond;
}

.reviews {
  display: flex;
  align-items: center;
  margin-top: 186px;
}

.reviews__title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  font-family: Cormorant Garamond;
  line-height: 45px;
  align-items: center;
  font-family: Cormorant Garamond;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reviews__description {
  line-height: 45px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 58px;
  align-items: center;
}

.reviews__img img{
  max-width: 100%;
}

.button--size-medium {
  width: 226px;
  line-height: 45px;
  margin-right: 100px;
}

.footer {
  display: flex;
  margin-top: 270px;
}

.foooter__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: Cormorant Garamond;
}

.footer__logo {
  margin-left: 313px;
}


.foooter__text {
  margin-left: 230px;
}

@media screen and (max-width: 1200px) {
.container {
		width: 1140px;
	}
}

@media screen and (max-width: 1199px) {
	.container{
		width: 960px;
	}
  .cheesecake {
    margin-left: 130px;
  }
  .cupcakes {
    margin-left: 70px;
  }
  .footer__contact{
    display: flex;
  }
}

@media screen and (max-width: 991px) {
	.container {
		width: 720px;
	}

.navigate__logo img{
  min-width: 100px;
  height: auto;
}
.header__contact{
  display: flex;
}
.foooter__text{
  flex-wrap: wrap;
}
.header__contact {
  margin-left: 40px;
}
.header__contact img{
  width: 90%;
  min-width: 21px;
}
.footer__contact img{
  width:90%;
  min-width: 21px;
}
.footer__logo img{
  min-width: 21px;
}
.button {
margin-left: 50px;
}
.footer__logo {
  margin-left: 213px;
}


.foooter__text {
  margin-left: 130px;
}
}


@media screen and (max-width: 767px) {
	.container {
		width: 540px;
	}
  .assortment__base{
    flex-wrap: wrap;
  }
  .offer_base{
    flex-wrap: wrap;
  }
  .navigate__logo img{
    width:150%;
  }
  .offer__image{
    align-items: center;
    margin-left: 0px;
  }
  .cheesecake {
    margin-left: 0px;
    align-items: center;
    margin-top: 30px;
  }

  .cupcakes {
    margin-left: 0px;
    align-items: center;
  }
  .assortment__base{
    margin-left: 80px;
  }
  .button{
    margin-left: 100px;
  }
}

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
    padding: 0 15px;
    }
    .reviews{
      flex-wrap: wrap;
      width: 80%;
    }
    .reviews__img img{
      width:90%;
      margin-top: 30px;
    }
    .offer__image img{
      width:95%;
    }
    .cupcakes{
      width:80%;
    }
    .cheesecake{
      width:80%;
    }
    .button{
      margin-left: 50px;
    }
    .offer_base{
      width:87%;
    }
    .menu__link{
      font-size: 14px;
    }
  
  }
