html {
  background: linear-gradient(295.88deg, #E5BAEC -3.27%, #FFE6FE -3.27%, rgba(222, 249, 255, 0.96) 90.69%);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cormorant Garamond'
    color: black;
  font-size: 24px;
  max-height: 2535px;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.menu__list .menu__item {
  display: block;
  padding: 0;
  margin: 0;
}

.navigate {
  display: flex;
  align-items: center;
}

.navigate__menu {
  margin-left: 30px;
}

.menu__list {
  display: flex;
}

.menu__item {
  font-family: 'Cormorant Garamond';
  font-weight: 500;
}

.menu__link {
  margin-right: 30px;
}

.header__navigate {
  margin-top: 46px;
}

.header__contact {
  margin-left: 200px;
}

.offer {
  align-items: center;
  margin-top: 150px;
  max-width: 600px;
}

.offer__title {
  font-weight: bold;
  font-size: 48px;
  font-family: Cormorant Garamond;
  text-align: center;
}

.offer__text {
  font-family: Cormorant Garamond;
  font-size: 19px;
  font-weight: 500;
  margin-top: 30px;
  line-height: 45px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.offer__button {
  color: #000;
  font-weight: 600;
  font-size: 36px;
  display: block;
  text-align: center;
  padding: 17px 0;
  background: linear-gradient(108.5deg, #D78192 19.92%, #E0C9BF 93.26%);
  border: 3px solid #D78192;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 3px solid rgba(0, 0, 0, 0.09);
  font-family: Cormorant Garamond;
  margin-top: 60px;
}

.offer__button-active:hover {
  background: #D78192;
}

.offer__image {
  position: absolute;
  width: 570px;
  height: 570px;
  left: 815px;
  top: 193px;
}

.assortment {
  margin-top: 200px;
}

.assortment__title {
  text-align: center;
  font-size: 48px;
  font-family: Cormorant Garamond;
  align-items: center;
}

.assortment__base {
  margin-top: 31px;
  display: flex;
}

.cheesecake {
  margin-left: 230px;
}

.cupcakes {
  margin-left: 100px;
}

.cupcakes__image {
  align-items: center;
}

.button {
  border: 3px solid #D78192;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 15px;
  line-height: 29px;
  margin-top: 39px;
  display: block;
  width: 166px;
  margin-left: 100px;
  font-family: Cormorant Garamond;
}

.button__text {
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  text-decoration-color: #000000;
}

.button a {
  text-decoration: none;
}

.description {
  margin-top: 34px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Cormorant Garamond;
}

.reviews {
  display: flex;
  align-items: center;
  margin-top: 186px;
}

.reviews__title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  font-family: Cormorant Garamond;
  line-height: 45px;
  align-items: center;
  font-family: Cormorant Garamond;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reviews__description {
  line-height: 45px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 58px;
  align-items: center;
}

.button--size-medium {
  width: 226px;
  line-height: 45px;
  margin-right: 100px;
}

.footer {
  display: flex;
  margin-top: 270px;
}

.foooter__text {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  font-family: Cormorant Garamond;
}

.footer__logo {
  margin-left: 313px;
}

.foooter__text {
  margin-left: 230px;
}
